/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(216, 214, 214, 0.486);
}
 
/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.7 */
    background: #ffffffce;
}
/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(235, 228, 228, 0.877);
}
/* 页脚透明 */
#footer {
	/* 以下代表透明度为0.7 */
	background: rgba(248, 246, 246, 0.137);
}
 
#web_bg{
  background: url(https://img-2st.pages.dev/pic/トライメライと臥した花_67224883.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


